
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #000000;
    background-image: image-set("Images/galaxie.jpg");
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: rgb(19, 19, 19);
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    padding: 10px;

}

header h3 {
    font-size: 12px;
    margin-bottom: 15px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #6b56b8;
}

main {
    display: inline;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

footer {
    background-color: #111;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
}

/* Liens */
a {
    color: #fbff00;
}

a:hover {
    color: #ee0404;
}



.custom-select {
    overflow-x: auto; 
    white-space: nowrap; 
    
  }
  
  .options {
    display: flex;
    padding: 10px;
  }
  
  .option {
    padding: 10px 5px;
    margin-right: 10px;
    background-color: rgb(201, 201, 201);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    display: flex;
    border-radius: 8px;
  }
  
  .option:hover {
    background-color: #3b3434;
  }
  
  .image {
    margin-bottom: 5px;
  }
  
  .image img {
    width: 100px; 
    height: 180px;
    display: block; 
    margin: 0 auto; 
    border-radius: 8px;
  }

#personnages .custom-select {
    display: inline-block;
    justify-content: center;
    align-items: center;
}
#comics .custom-select {
    display: inline-block;
    justify-content: center;
    align-items: center;
}
#films .custom-select {
    display: inline-block;
    justify-content: center;
    align-items: center;
}
#jeux .custom-select {
    display: block;
    justify-content: center;
    align-items: center;
    
}


  